:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Arvo", serif;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

#cart-info>p {
  white-space: nowrap;
}

/* global style */
.btn-pink {
  color: var(--mainPink)!important;
  border-color: var(--mainPink)!important;
}

.btn-pink:hover {
  color: var(--mainBlack)!important;
  background: var(--mainPink)!important;
}

.btn-black {
  color: var(--mainBlack)!important;
  border-color: var(--mainBlack)!important;
}

.btn-black:hover {
  color: var(--mainPink)!important;
  background: var(--mainBlack)!important;
}

/* navbar links */
.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}

.nav-link{
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all .5s ease-in-out;
}

.nav-link:hover{
  color:var(--mainBlack);
  font-size: 1.75rem;
}

/* cart-style */
.cart-info{
  border: 0.1rem solid var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info-icon{
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info:hover{
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}

.cart-info:hover .cart-info-icon{
  color: var(--mainWhite);
}

/* banner style */
.max-height{
  min-height: calc(100vh - 117px);
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), url("../img/headerBcg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.banner{
  color: var(--mainWhite);
  margin-top: -4rem;
}

.banner-title {
  color: var(--mainPink);
  font: -4rem;
}

.banner-link{
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}

.banner-link:hover{
  background: var(--mainBlack);
  color: var(--mainPink);
}

/* about section */
.about-img-container{
  position: relative;
}
.about-img-container::before{
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s linear;
}

.about-img-container:hover:before{
  top: 0;
  left: 0;
}

/* search box */
.store{
  background: var(--mainGrey);
}

.search-box{
  background: var(--mainPink);
  color: var(--mainBlack);
}

.single-item {
  -webkit-transition: all 0.3 linear;
  transition: all 0.3 linear;
}
.single-item:hover {
  -webkit-box-shadow: 0 10px 15px rgb(0, 0, 0);
  box-shadow: 0 10px 15px rgb(0, 0, 0);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  padding: 0.75rem;
  background: rgb(249, 228, 148);
  border-top-left-radius: 16px;
  border-top-left-radius: 1rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: #fff;
}

/* services */
.services {
  color: #fff;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    ),
    url("../img/servicesBcg.jpeg") center/cover fixed no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/servicesBcg.jpeg") center/cover fixed no-repeat;
}
.service-title {
  letter-spacing: 8px;
  letter-spacing: 0.5rem;
}
.service-text {
  word-spacing: 8px;
  word-spacing: 0.5rem;
}
/* footer*/
.footer-title {
  background: #000;
}
.footer-contact {
  background: rgb(238, 238, 238);
}
.footer-icon {
  font-size: 24px;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transition: all 0.4 ease-in-out;
  transition: all 0.4 ease-in-out;
}
.footer-icon:hover {
  color: #ef7998;
}
/* cart */
.cart {
  position: absolute;
  min-height: 160px;
  min-height: 10rem;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
}
.show-cart {
  width: 288px;
  width: 18rem;
  padding: 32px 24px;
  padding: 2rem 1.5rem;
  -webkit-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
}
.cart-item-remove {
  color: #ef7998;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.cart-item {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.cart-item-remove:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #000;
}
.cart-item-price {
  font-size: 12.8px;
  font-size: 0.8rem;
}

